.deleteModalCard {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    align-items: center;
}

.deleteAccountButton {
    background-color: red;
    color: white;
    margin-right: 10px;
}