.profileCardContainer {
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    width: 1200px;
}

.profileCardCard {
    text-align: center;
    margin: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.profileCardInput {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(234, 234, 234);
}

.publicButtons {
    text-align: end;
}

.logoutButton {
    color: white;
    background-color: rgb(80, 80, 80);
}
.deleteProfileButton {
    margin-left: 10px;
    color: white;
    background-color: red;
}