.updateProfileCard {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}